{% load static %}


<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'catalog:catalog_of_products' %}">Экстремал</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'mailing_services:contacts' %}">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog:blog_create' %}">Создать пост</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog:blog_list' %}">Все посты</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Контактные данные
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'mailing_services:send_contacts' %}">Оставить контактные данные</a></li>
                        <li><a class="dropdown-item" href="{% url 'mailing_services:client_list' %} " >Все контактные данные</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Сообщения
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'mailing_services:message_create' %}">Создать сообщение</a></li>
                        <li><a class="dropdown-item" href="{% url 'mailing_services:messages_list' %} " >Все сообщения</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Рассылки
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'mailing_services:mailing_create' %}">Создать рассылку</a></li>
                        <li><a class="dropdown-item" href="{% url 'mailing_services:mailings_list' %} " >Все рассылки</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item" href="{% url 'mailing_services:mailing_log_list' %} " >Все логи</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</nav>